body {
  font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: var(--white);
  
  margin: 0;
}

.main-wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}