{% extends 'budgidesk_app/base.html' %}
{% block content %}
  <div class="container">
    <h1> What you can do?</h1>
    <p>ready for: </p>
    <a href="" class="btn btn-primary">Smart Search Assistant</a>
    <a href="" class="btn btn-secondary">“How do I…?” Quick Actions</a>
    <a href="" class="btn btn-secondary">Invoice Troubleshooter</a>
    <a href="" class="btn btn-secondary">Tax Estimator Walkthrough</a>
    <a href="" class="btn btn-secondary">Budsi Knows: Tooltips Across the Dashboard</a>

  </div>
{% endblock %}
